@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	color : #666666;
	font-family : Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size : 11px;
	line-height: 14px;
	background: #dddcda;
}
p {
	padding: 10px;
}
h1 {
	font-size: 14px;
	color: #8d917a;
}
a {
	text-decoration: none;
	color: #8d917a;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	text-decoration: none;
}
img {
	border: none;
}
.wrapper {
	width: 914px;
	min-width: 914px;
	height: 100%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 20px;
	background: #fff;
}
.more-btn {
	width: 96%;
	height: 25px;
	line-height: 25px;
	background: #3d3c3c;
	border-radius: 0px 0px 10px 10px;
	margin-top: 2px;
	behavior: url('includes/PIE.htc');
	color: #fff;
	padding-left: 10px;
}
.more-btn a{
	color: #fff;
}

.cleaner {
	clear: both;
}

.header {
	width: 100%;
	height: 100px;
	background: url('../images/logo_bg_large.png') top right no-repeat #3d3c3c;
}
.header-content {
	width: 1024px;
	min-width: 1024px;
	height: 100%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.logo {
	float: left;
	margin-left: -20px;
}
.menu {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: 12px;
	text-align: center;
	float: left;
	margin-top: 60px;
	margin-left: 60px;
}

.menu ul {
	position: relative;
	float: left;
	padding: 0px;
	margin-top: 0px;
}
.menu li {
	background: none;
	display: block;
	float: left;
	margin-right: 15px;
	height: 40px;
	min-height: 40px;
	width: 98px;
	line-height: 40px;
	overflow: hidden;
}
.menu ul li a {
	color: #ffffff;
	text-decoration: none;
	line-height: 40px;
	display: block;
	width: 100%;
	height: 100%;
}
.menu ul li a:hover {
	text-decoration: none;
}
.menu li .current{
	background: #fff;
	color: #3d3c3c;
	display: block;
	float: left;
	margin-right: 15px;
	height: 40px;
	min-height: 40px;
	width: 98px;
	line-height: 40px;
}

.main {
	width: 100%;
	min-height: 500px;
	overflow: hidden;
	padding-bottom: 20px;
}

.home-image {
	width: 914px;
	height: 390px;
	background: #dddcda;
	margin-bottom: 20px;
}
#layerslider {
	position: relative;
	z-indez: 0;
	width: 914px;
	height: 390px;
}

.large-col {
	width: 455px;
	float: left;
	position: relative;
}
.section-header {
	height: 35px;
	width: 98%;
	line-height: 35px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	background: url('../images/section_header_bg.png') top right no-repeat #3d3c3c;
	padding-left: 10px;
}

.footer {
	width: 914px;
	min-width: 914px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 55px;
	padding-right: 55px;
	margin-top: 30px;
	text-align: center;
	color: #8d917a;
	line-height: 25px;
	background: #dddcda;
}